db = {
    'host': 'localhost',
    'user': '',
    'pass': '',
    'name': 'indexer',
}

news = {
    'host': 'news.supernews.com',
    'user': '',
    'pass': '',
    'port': 443,
    'ssl': False,
}
