pymongo
python-dateutil
pytz
mako
bottle
xmltodict
pynzb
requests
roman
regex>=2.4.44
lxml
daemonize
colorlog
sqlalchemy>=0.9
alembic
psycopg2
pyhashxx==0.1.3
intspan
pympler
psutil
zdaemon
docopt
sleekxmpp
eventlet
requests-futures
irc
colorama
git+https://github.com/PyMySQL/PyMySQL.git
