pymongo
python-dateutil
pytz
mako
bottle
xmltodict
pynzb
requests
roman
regex==2.4.44
lxml
daemonize
colorlog
sqlalchemy>=1.0.9
alembic>=0.8.3
psycopg2
pyhashxx==0.1.3
intspan
pympler
psutil
docopt
sleekxmpp
eventlet
requests-futures
irc
colorama
pandas
beautifulsoup4
pySmartDL
pytvmaze
git+https://github.com/PyMySQL/PyMySQL.git
nltk
jaraco.itertools
jaraco.collections
jaraco.text
