<div class="row">
	<div class="container well col-sm-3 col-md-3 col-lg-3 pull-left">
		<form role="search" ng-submit="search()">
			<div class="form-group">
				<label for="q">Search Query</label>
				<input type="text" class="form-control" id="q" ng-model="searchForm.q" placeholder="Insert text query here...">
			</div>

			<div class="form-group">
				<label for="cat">Search Categories</label>
				<select id='cat' multiple class="form-control" ng-model="searchForm.cat" size="10" required>
					<option ng-repeat="category in categories" value="{{category.id}}">
						{{category.name}}
					</option>
				</select>
			</div>

			<div class="form-group" ng-class="{'has-error':errorApikey}">
				<label for="apikey">Pynab API Key</label>
				<input type="text" class="form-control" id="apikey" ng-model="searchForm.apikey" placeholder="Insert your API key here..." required>
				<span class="help-block has-error" ng-show="errorApikey">{{ errorApikey }}</span>
			</div>			

			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="searchForm.remember"> Remember key?
				</label>
			</div>

			<button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-search"></span> Search</button>

		</form>
		
	</div>

	<div class="container col-sm-8 col-md-8 col-lg-8 pull-right" ng-show="searchResults">
		<table class="table table-striped">
			<thead>
				<td>Title</td>
				<td>Age</td>
				<td>Group</td>
				<td>Category</td>
				<td>Download NZB</td>
			</thead>
			<tr ng-repeat="item in searchResults">
				<td>{{item.title}}</td>
				<td><span am-time-ago="item.pubDate"></span></td>
				<td>{{item.group}}</td>
				<td>{{item.category}}</td>
				<td><a href="{{item.link}}">Click</a></td>
			</tr>
		</table>
	</div>
</div>